# Ignore everything at repository root.
/*

# Keep gitignore itself.
!/.gitignore
!/README.md

# Keep only Unity project source/config folders.
!/Assets/
!/Assets/**
!/Packages/
!/Packages/**
!/ProjectSettings/
!/ProjectSettings/**